services:
  api_gateway:
    build: api_gateway
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  service_users:
    build: service_users
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - POSTGRES_DB=${POSTGRES_DB:-task_management_db}
      - POSTGRES_USER=${POSTGRES_USER:-user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - JWT_SECRET=${JWT_SECRET:-supersecretjwtkey}
    depends_on:
      - db
    networks:
      - app-network

  service_orders:
    build: service_orders
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - POSTGRES_DB=${POSTGRES_DB:-task_management_db}
      - POSTGRES_USER=${POSTGRES_USER:-user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - JWT_SECRET=${JWT_SECRET:-supersecretjwtkey}
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-task_management_db}
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
